/*styles.css*/

/*整体居中*/
.container{
	width: 900px;
	margin: 0 auto;
}

/*flexbox 设置头部样式*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
#menu{
	display: flex;
}
#menu li{
	display: flex;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	/*display: inline-block;*/
	background-color: rgba(255,255,255,.5);
	justify-content: center;
	align-items: center;
}
#menu li a{
	text-decoration: none;
	color: #e35666;
	font-size: 20px;
	font-weight: bold;
}
#menu li:hover{
	background-color: rgba(255,255,255,.8);
	cursor: pointer;
}
/*主体样式*/
.main{
	position: relative;
	width: 900px;
	height: 400px;
	overflow: hidden;
	/*background-color: blue;*/
	color: #fff;
}
.main > div{
	position: absolute;
}

/*宣言样式*/
.promise{
	left: -1000px;
	display: flex;
	justify-content: space-between;
}
.promise-left{
	margin: 10px;
	padding: 20px;
	width: 390px;
	background-color: #e35666;
}
.promise-right{
	margin: 10px;
	padding: 20px;
	width: 390px;
	background-color: #e35666;
}

#count span{
	color: #0f0;
	font-size: 16px;
	font-weight: bold;
}

/*回忆样式*/
.memery{
	left: -1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 860px; 
	/*height: 100px;*/
	margin: 20px;
	padding: 5px 0;
	background-color: #fff;
}


/*祝福样式*/
.bless{
	left: -1000px;
	width: 860px;
	margin: 20px;
	/*background-color: yellow;*/
}


/*飘雪样式*/
.snow{
	/*position: absolute;*/
	width: 20px;
	height: 20px;
	background: -webkit-radial-gradient(center,circle closest-side,rgba(255,255,255,1),rgba(255,0,0,0));
	border-radius: 100%;
}
body{
	/*overflow: hidden;*/
	background-color: rgb(234,80,94);
}
html{
	overflow: hidden;
}
/*遮罩样式*/
#mask{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: #e35666;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}